spring.application.name=ecommerce
app.base-url=http://localhost:8080

spring.datasource.url=jdbc:mysql://localhost:3306/ecommerce_db
spring.datasource.username=your_database_username
spring.datasource.password=your_database_password

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate

spring.mvc.hiddenmethod.filter.enabled=true

# --- Email ---
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your_email@gmail.com
spring.mail.password=your_gmail_app_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true